@charset "UTF-8";
html, body {
   padding: 0;
   margin: 0;
   width: 100%;
   height: 100%;
}
#userInfoContainer {
   padding: 100px;
    display: flex;
  	justify-content: space-evenly;
}
.tabMenuContainer {
 
}
button {
  background: none;
  border: 0;
  outline: 0;
  cursor:pointer;
}
.tabMenuBtn {
  width: 85px;
  height: 30px;
  transition:0.3s all;
}
.tabMenuBtn a {
  text-decoration: none;
  font-weight: bold;
}
.underline {
   display: block;
     border-bottom: 2px solid #56373c;
}
