@charset "UTF-8";
html, body {
   padding: 0;
   margin: 0;

}
.userMenuContainer {
   padding: 100px;
}
.tabMenuContainer {
   display: flex;
   justify-content: space-evenly;
 
}
button {
  background: none;
  border: 0;
  outline: 0;
  cursor:pointer;
}
.tabMenuBtn {
  transition:0.2s all;
}
.tabMenuBtn a {
  text-decoration: none;
  font-weight: bold;
}
.underline:hover {
   color: #a07be5; 
}

/*userInfo0.css*/

#userProfileContainer {
	padding-top: 50px;
}
