@charset "UTF-8";

.boardContainer .board-btns .go-to-back .material-icons {
	font-size: 2em;
}

.boardContainer .board-detail-btn {
    position: absolute;
    bottom: 50px;
}

.boardContainer .board-detail {
    position: relative;
}

.board-detail-table:hover{
	background:none;
}

.board-detail .board-detail-modDel__btns {
    position: absolute;
    right: 15px;
    top: 23px;
}

.board-detail-table .board-date {
    text-align: center;
}

.board-detail-table .board-detail-title {
	word-break: break-all;
}

.board-detail .board-detail-ctnt {
    color: seashell !important;
    word-break: break-all;
}

.board-detail img {
    max-width: 95%;
    height: auto !important;
    margin: 5px 0;
}

.boardContainer .board-detail-option-box {
    width: 100%;
    height: 60px;
    background: #FFF;
    color: rgb(129, 129, 129);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
