@charset "UTF-8";
html, body {
   padding: 0;
   margin: 0;

}
.userMenuContainer {
	width: 100%;
	height: 550px;
}
.tabMenuContainer {
   display: flex;
   justify-content: space-evenly;
   margin-top: 25px;
 
}
button {
  background: none;
  border: 0;
  outline: 0;
  cursor:pointer;
}
.tabMenuBtn {
  transition:0.2s all;
}
.tabMenuBtn a {
  text-decoration: none;
  font-weight: bold;
}
.underline:hover {
   color: #a07be5; 
}
.myPageBox {
	width: 500px;
	height: 500px;
	
}
.profileBox {
	margin-top: 80px;
}
.userProfileHeader {
	margin-bottom: 30px;
}
.userNickName {
	font-size: 20px;
	font-weight: bold;
}
.pImg {
	width: 60px;
	border-radius: 50%;
}
/*userInfo3*/
.sns-modume-title{
	text-align: center;
}
.personalInformatin {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  
}
#modifyName {
  align-items: center;
  border: none;
  border-bottom:1px solid #a07be5;
  
}
.personalInformatin.privacyIcon {
  font-size: 2em;
  color: #a07be5;
}

